body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

select,
button {
    font-size: 16px;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.button-green {
    background-color: #28a745;
    color: white;
}

.button-green:hover {
    background-color: #218838;
}

.button-red {
    background-color: #dc3545;
    color: white;
}

.button-red:hover {
    background-color: #c82333;
}

.button-yellow {
    background-color: #ffc107;
    color: black;
}

.button-yellow:hover {
    background-color: #e0a800;
}

#video {
    margin-top: 20px;
    border: 5px solid #ddd;
    border-radius: 8px;
    width: 640px;
    height: 480px;
    background-color: black;
    object-fit: cover;
    /* This ensures the video fits within the div without resizing */
}

#iconCounters {
    font-size: 20px;
    margin-top: 20px;
    color: #007bff;
}